<div class="row p-5" style="background: #000;">
  <div class="col-12">
    <div *ngIf="this.identidad">
      <h1
        style="color: #fff; position: absolute; z-index: 9999; top: 5%; left: 8%; font-size: 20px; text-shadow: 0px 0px 10px black;">
        <i class="fas fa-arrow-left" routerLink="/FilmBox"></i> {{this.serie.title}} | Temporada {{this.episode.season}}
      </h1>
      <div id="player-content" (click)="showPublicidad()"
        style="position: relative; display:flex; align-items: center; justify-content: center;">
        <video id="player" (timeupdate)="setCurrentTime($event)" class="video" preload="metadata" autoplay controls>
          <source id="player-src" src="{{this.videoPath}}" type="video/mp4" />
          Browser not supported -->
        </video>
      </div>
    </div>
  </div>
</div>