<nav class="navbar sticky-top navbar-expand-lg navbar-dark secondary-color menu1">
    <a class="navbar-brand" href="#"><img class="logo1" src="../../assets/img/logo-b2.png" alt=""><img class="logo2" src="../../assets/img/logoresponsive.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>