<app-menusimple></app-menusimple>
<div class="row">
    <div class="col-3">1</div>
    <div class="col-6">
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 carta-1" data-aos="zoom-in-down">
                        <div class="card mb-5 mb-lg-0 rounded-lg shadow" style="background: #142a42;">
                            <div class="card-header">
                                <h5 class="card-title text-white-50 text-uppercase text-center">Gratuito</h5>
                                <h6 class="h1 text-white text-center">$0<span class="h6 text-white-50">/mes</span>
                                </h6>
                            </div>
                            <div class="card-body bg-light rounded-bottom">
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>1 Usuario</li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>1 pantalla simultanea</li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>0 GB de descarga
                                    </li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>Publicidad</li>
                                    <li class="text-muted mb-3"><span class="mr-3"><i
                                                class="fas fa-times"></i></span>Chat de soporte</li>
                                    <li class="text-muted mb-3"><span class="mr-3"><i
                                                class="fas fa-times"></i></span>Series</li>
                                </ul>
                                <a routerLink="/registro" class="btn botonh btn-block text-uppercase rounded-lg py-3"
                                    style="background: #142a42; color: #fff;">Suscribir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 carta-1" data-aos="zoom-in-down">
                        <div class="card mb-5 mb-lg-0 rounded-lg shadow" style="background: #427caa;">
                            <div class="card-header">
                                <h5 class="card-title text-white-50 text-uppercase text-center">Premium</h5>
                                <h6 class="h1 text-white text-center">$14.000<span class="h6 text-white-50">/mes</span>
                                </h6>
                            </div>
                            <div class="card-body bg-light rounded-bottom">
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span><strong>4 Usuarios</strong>
                                    </li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>4 Pantallas simultaneas</li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>20 GB de descarga
                                    </li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>Libre de publicidad</li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>Chat activado
                                    </li>
                                    <li class="mb-3"><span class="mr-3"><i
                                                class="fas fa-check text-success"></i></span>Series
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Launch demo modal
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-3">3</div>

    


</div>

<div class="row">
    <div class="col-12">
        <app-footer></app-footer>
    </div>
</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>