<div class="row">
    <div class="col-12" style="background: #000000;">
        <img src="../../assets/img/logo-b2.png" alt="" style="display: block; margin: auto; padding: 5% 0% 2% 0%;">
        <p style="text-align: center; color: rgb(80, 80, 80);">¿Preguntas? Contactanos a filmbox@filmbox.com</p>
    </div>
    <div class="col-4" style="background: #000000;"></div>
    <div class="col-1" style="background: #000000; color: #fff; text-align: center;">Favoritas</div>
    <div class="col-1" style="background: #000000; color: #fff; text-align: center;">Peliculas</div>
    <div class="col-1" style="background: #000000; color: #fff; text-align: center;">Series</div>
    <div class="col-1" style="background: #000000; color: #fff; text-align: center;">Cuenta</div>
    <div class="col-4" style="background: #000000;"></div>
    <div class="col-12 " style="background: #000000; padding: 2%;">
        <p style="text-align: center; color: rgb(80, 80, 80);">©2020 <a href="http://localhost:4300/" style="color: #fff;"> Make Code </a>, todos los derechos
            reservados. Make kode son marcas registradas.</p>
    </div>
</div>