<app-menu></app-menu>
<div id="user-profile-2" class="user-profile">
    <div class="tabbable  bg-light">
        <ul class="nav nav-tabs padding-18 ">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class="green ace-icon fa fa-user bigger-120"></i>
                    Perfil
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#feed">
                    <i class="fas fa-video"></i>
                    Peliculas favoritas
                </a>
            </li>
        </ul>

        <div class="tab-content no-border padding-24" data-aos="zoom-in">
            <div id="home" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 center">
                        <span class="profile-picture userdefault">
                            <img class="editable img-responsive" alt=" Avatar" id="imgUsuario"
                                src="{{ url + 'imagenUsuario/' + usuarioActualizar.image }}" width="100%">
                        </span>

                        <div class="space space-4"></div>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="far fa-edit"></i> Editar perfil
                        </button>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-9 p-5">
                        <h4 class="blue">
                            <span class="middle">{{ identidad. name }} </span>

                            <span class="label label-purple arrowed-in-right">
                                <i class="far fa-user"></i>
                                {{ identidad. count }}
                            </span>
                        </h4>

                        <div class="profile-user-info">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Usuario </div>

                                <div class="profile-info-value">
                                    <i class="fas fa-user"></i>
                                    <span> {{ identidad. name }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Correo </div>

                                <div class="profile-info-value">
                                    <i class="fas fa-envelope"></i>
                                    <span> {{ identidad. email }}</span>
                                </div>
                            </div>


                            <div class="profile-info-row">
                                <div class="profile-info-name"> Descripción </div>

                                <div class="profile-info-value">
                                    <i class="fas fa-envelope"></i>
                                    <span> {{ identidad. role }}</span>


                                </div>



                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Editar </div>

                                <div class="profile-info-value">
                                    <a *ngIf="this.identidad.role=='ROLE_ADMIN'" routerLink="/contenido">
                                        <i class="far fa-edit"></i>

                                        Peliculas</a>
                                </div>



                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Editar </div>

                                <div class="profile-info-value">
                                    <a *ngIf="this.identidad.role=='ROLE_ADMIN'" routerLink="/contenido"><i
                                            class="far fa-edit"></i>

                                        Series</a>
                                </div>



                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Editar </div>

                                <div class="profile-info-value">
                                    <a *ngIf="this.identidad.role=='ROLE_ADMIN'" routerLink="/contenido"><i
                                            class="far fa-edit"></i>

                                        Usuarios</a>
                                </div>


                            </div>
                        </div>


                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="space-20"></div>

            </div><!-- /#home -->

            <div id="feed" class="tab-pane">
                <div class="profile-feed row">
                    <div class="col-sm-6">
                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="Alex Doe's avatar"
                                    src="http://bootdey.com/img/Content/avatar/avatar1.png">
                                <a class="user" href="#"> Alex Doe </a>
                                changed his profile photo.
                                <a href="#">Take a look</a>

                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    an hour ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="Susan Smith's avatar"
                                    src="http://bootdey.com/img/Content/avatar/avatar2.png">
                                <a class="user" href="#"> Susan Smith </a>

                                is now friends with Alex Doe.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    2 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                                <a class="user" href="#"> Alex Doe </a>
                                joined
                                <a href="#">Country Music</a>

                                group.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    5 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
                                <a class="user" href="#"> Alex Doe </a>
                                uploaded a new photo.
                                <a href="#">Take a look</a>

                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    5 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="David Palms's avatar"
                                    src="http://bootdey.com/img/Content/avatar/avatar3.png">
                                <a class="user" href="#"> David Palms </a>

                                left a comment on Alex's wall.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    8 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-sm-6">
                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
                                <a class="user" href="#"> Alex Doe </a>
                                published a new blog post.
                                <a href="#">Read now</a>

                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    11 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="Alex Doe's avatar"
                                    src="http://bootdey.com/img/Content/avatar/avatar4.png">
                                <a class="user" href="#"> Alex Doe </a>

                                upgraded his skills.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    12 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                <a class="user" href="#"> Alex Doe </a>

                                logged in.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    12 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
                                <a class="user" href="#"> Alex Doe </a>

                                logged out.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    16 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                <a class="user" href="#"> Alex Doe </a>

                                logged in.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    16 hours ago
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="space-12"></div>

                <div class="center">
                    <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                        <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                        <span class="bigger-110">View more activities</span>

                        <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                    </button>
                </div>
            </div><!-- /#feed -->




        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- -------------------------------------------------------------------------- -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <form #formularioActualizar="ngForm" (ngSubmit)="actualizarUsuario()">
                        <div>
                            <div>
                                <label for="name">Nombre</label>
                                <input class="form-control" type="text" id="name" placeholder="name" required
                                    #name="ngModel" name="name" [(ngModel)]="usuarioActualizar.name">
                            </div>
                            <div>
                                <label for="email">Email</label>
                                <input class="form-control" type="email" id="email" placeholder="Email" required
                                    #email="ngModel" name="email" [(ngModel)]="usuarioActualizar.email">
                            </div>
                            <div>
                                <label for="password">Contraseña</label>
                                <input class="form-control" type="password" id="password" placeholder="Contraseña"
                                    required #password="ngModel" name="password"
                                    [(ngModel)]="usuarioActualizar.password">
                            </div>
                        </div>

                        <div>
                            <div>
                                <br>
                                <input type="file" id="image" placeholder="Subir imagen" required
                                    (change)="subirArchivo($event)" style="display: block; margin: auto;">
                                <div id="imgThumb"></div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" style="display: block; margin: auto;">Guardar
                            cambios</button>
                    </form>
                    <!--                 <h3 *ngIf="this.identidad.count=='COUNT_BASIC'">HAZTE PREMIUM!</h3>
                <form *ngIf="this.identidad.count=='COUNT_BASIC'" action="https://www.paypal.com/cgi-bin/webscr" method="post"
                    target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="YDFQGXJRKSX7Q">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0"
                        name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
                <h3 *ngIf="this.identidad.count=='COUNT_PREMIUM'">Volver al plan básico</h3>
                <A *ngIf="this.identidad.count=='COUNT_PREMIUM'"
                    HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=8UEJRC5DH2DEL">
                    <IMG SRC="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif" BORDER="0">
                </A> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>